html
    font-size $base-font-size
    // line-height $base-line-height / $base-font-size
    line-height 1.5
    padding-bottom 0
    height 100%
    overflow-x hidden
    // word-spacing 1px
*
    box-sizing border-box
    &:before,
    &:after
        box-sizing border-box
[custom-disabled]
    pointer-events none
.fromMobile
    display none
@media all and (min-width: 375px)
    .only320
        display none
    .fromMobile
        display inline-block
.onlyDesktop
    display: none
.onlyDesktop--inline
    display none
@media all and (min-width: 768px)
    .onlyDesktop
        display block
    .onlyDesktop--inline
        display inline
    .onlyMobile
        display: none
.hideComplete
    position absolute
    color transparent
    top -1000px


.red
    border: 1px solid red;
body
    margin 0
    font-family 'Heebo', sans-serif
    background-color $c-white
    font-weight 400
    overflow-x hidden
    height 100%
    min-height 100%
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased
    -webkit-tap-highlight-color transparent
    -webkit-touch-callout none
      // word-wrap: break-word;
    color $c-black
    &.hideFooterBar .footer-bar__wrapper
        display none
.hide
    display none
.hidden
    visibility hidden
.c-link.isActive
    color $c-main
    .icon
        color $c-main
.noScroll
    overflow: hidden
p,
figure
    margin 0
a
    color inherit
    text-decoration: none
a,
img
    -webkit-touch-callout none
img
    width 100%
/*ios android */
a,
input
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
input
    -webkit-appearance none
a:visited
    color inherit
h1,
h2,
h3,
h4,
h5
    margin 0
ul
    margin 0
    padding 0
    list-style none
.fade-animation-enter-active, .fade-animation-leave-active
    transition: opacity 1s
.fade-animation-enter, .fade-animation-leave-active
    opacity: 0

button
    cursor pointer
    border none
    background-color transparent
    &:focus
        outline none
.container--740
    max-width 740px
    margin-right auto
    margin-left auto
