.bg-gray
	background-color $c-border
.bg-white
	background-color white
.bg-aux
	position relative
	> *
		position relative
		z-index 1
	&:before
		content ''
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 0
		
.bg-gray-hover
	background-color $c-gray-dark
.bg-aux.bg-aux--light
	&:before
		background-color rgba(255,255,255,.75)
.bg-aux.bg-aux--dark
	&:before
		background-color rgba(0,0,0,.25)
.bg-aux.bg-aux--dark-alt
	&:before
		background-color rgba(#292D31,.2)