safariOnly()
    @media not all and (min-resolution: .001dpcm)
        {block}
.flex
    display flex
    &.inline
        display inline-flex
    &.fullsize
        width 100vw
        height 100vh
    &.column
        flex-direction column
        &.reverse
            flex-direction column-reverse
    &.reverse
        flex-direction row-reverse
    &.wrap
        flex-wrap wrap
        &-reverse
            flex-wrap: wrap-reverse
    &.auto
        > * 
            flex 1 1 0%
    &.center
        > *
            margin auto
    $flex = flex-start, flex-end center
    $space = space-around, space-between
    $stretch = stretch
    $justifyContent = flex-start, flex-end, center, space-around, space-between
    $alignContent = flex-start, flex-end, center, space-around, space-between, stretch
    $alignItems =  flex-start, flex-end, center, stretch, baseline
    for $mod in $justifyContent
        &.justify-{$mod}
            justify-content $mod
    for $mod in $alignItems
        &.align-{$mod}
            align-items $mod
    for $mod in $alignContent
        &.content-{$mod}
            align-content $mod
    > .box
        &.first
            order -1
        &.last
            order 1
        &.grow
            flex: 1 0
            &-fixed
                flex 1 0 0
                @include safariOnly
                    flex-basis 0%
        &.nogrow
            flex-grow 0
            flex-basis auto
        &.noshrink
            flex-shrink 0
        &.center
            margin auto
        &.left
            margin-left 0
            margin-right auto
        &.right
            margin-right 0
            margin-left auto
        &.top
            margin-top 0
            margin-bottom auto
        &.bottom
            margin-bottom 0
            margin-top auto
        @each $mod in $alignItems
            &.self-#{$mod}
                align-self $mod
