.cont-scroll
    overflow-y auto
.cont-scroll::-webkit-scrollbar
    width: 4px
    height: 4px
.cont-scroll::-webkit-scrollbar-button
    width: 38px
    height: 38px
.cont-scroll::-webkit-scrollbar-thumb
    background: lighten($c-main, 15)
    border: 0px none #ffffff
    border-radius: 50px
// .cont-scroll::-webkit-scrollbar-thumb:hover
//     background: #ffffff
// .cont-scroll::-webkit-scrollbar-thumb:active
    // background: $c-black
.cont-scroll::-webkit-scrollbar-track
    background: $c-border
    border: 0px none $c-border
    border-radius: 50px
// .cont-scroll::-webkit-scrollbar-track:hover
//     background: $c-border
// .cont-scroll::-webkit-scrollbar-track:active
//     background: #333333
.cont-scroll::-webkit-scrollbar-corner
    background: transparent
