$spaces = 5px, 10px, 15px, 20px
$directions = left, right, top, bottom
$dir = l, r, t, b

for $d, i in $directions
	for $s, j in $spaces
		.p{$dir[i]}-{j + 1}
			padding-{$d} $spaces[j]
		.m{$dir[i]}-{j + 1}
			margin-{$d} $spaces[j]
.full
	width 100%
.mx-auto
	margin-right auto
	margin-left auto
.px-flex
	padding-left 5px
	padding-right 5px
	@media all and (min-width: 360px)
		padding-left 10px
		padding-right 10px
	@media all and (min-width: 414px) and (max-width: 767px)
		padding-left 20px
		padding-right 20px
for $s, i in $spaces
	.p-{i + 1}
		padding $s
	.px-{i + 1}
		padding-left $s
		padding-right $s
	.py-{i + 1}
		padding-top $s
		padding-bottom $s
.mb-2-4
	margin-bottom 10px
@media all and (min-width: 768px)
	.mb-2-4
		margin-bottom 20px
.my-auto
	margin-top auto
	margin-bottom auto
.mr-flex
	margin-right 5px
.px-flex--mobile,
.px-flex
	padding-left 5px
	padding-right 5px
@media all and (min-width: 360px)
	.mr-flex
		margin-right 10px
	.px-flex--mobile,
	.px-flex
		padding-left 10px
		padding-right 10px
@media all and (min-width: 414px) and (max-width: 767px)
	.mr-flex
		margin-right 10px
	.px-flex--mobile,
	.px-flex
		padding-left 20px
		padding-right 20px
@media all and (min-width: 360px)
	.my-2_alt
		padding-left 10px
		padding-right 10px
@media all and (min-width: 768px)
	.px-flex--mobile
		padding-left 0
		padding-right 0
	.mb-2-4
		margin-bottom 20px

/* spacios fijos */
.space-gray
.space-red
	width 100%
.space-red
	height 20px
.space-gray
	height 80px
.c-divider
	height 1px
	background-color $c-border