/* align */
.t-center
	text-align center
.t-left
	text-align left
.t-right
	text-align right

.t-link
	&:hover
		color #00D764
.t-list
	text-indent: -13px;
	padding-left: 12px
.t-list::first-letter
	letter-spacing 5px
/* weight */
.t-light
	font-weight 300
	&.t-regular
		font-weight 300
.t-normal
	font-weight 400
.t-semibold
	font-weight 500
.t-bold
	font-weight 600
/* color */
.t-white
	color #fff
.t-blue
	color $c-blue
	a&
		color $c-blue
.t-red
	color $c-red
	a&
		color $c-red
.t-green
	color $c-green
	a&
		color $c-green
.t-white
	color $c-white
.t-gray
	color $c-gray-dark
.t-gray-sec
	color $c-gray-hover
.t-yellow
	color $c-yellow
.t-yellow-medal
	color $c-yellow-medal
.t-orange
	color $c-main
	fill $c-main
.t-black
	color $c-black
// color-medals
.t-silver,
.t-Plata
	color $c-gray-silver
.t-gold,
.t-Oro
	color $c-yellow-medal

/* sizes */
.t-main
	font-size 30px
	line-height 38px
.t-sub-main
	font-size 26px
	line-height 34px
.t-sub-main_alt
	font-size 26px
	line-height 38px
.t-title
	font-size 18px
	line-height 26px
.t-title_center
	font-size 18px
	line-height 25px
.t-regular
.t-regular-sub-main
	font-size 16px
	line-height 24px
.t-regular
	font-weight normal
.t-secondary
	font-size 14px
	line-height 18px
.t-secondary_min
	font-size 14px
	line-height 16px
.t-secondary_alt
	font-size 14px
	line-height 22px
.t-icon
	font-size 12px
	line-height 16px
.t-event
	font-size 8px
	line-height 10px
.t-icon-m
	font-size 12px
	line-height 12px
.t-list-mun
	font-size 27px
	line-height 38px
.t-list-box
	line-height 27px
	
@media all and (min-width: 768px)
	.t-main
		font-size 50px
		line-height 58px
		&.onLanding
			font-size 40px
			line-height 44px
	.t-sub-main
	.t-regular-sub-main
		font-size 30px
		line-height 38px
	.t-icon
		line-height 22px
	.t-sub-main_alt
		font-size 30px
		line-height 44px
@media all and (max-width: 768px)
	.t-center--mobile
		text-align center
/*transition */
.t-hover-underline:hover
	cursor pointer
	text-decoration underline
.t-hover-danger:hover
	cursor pointer
	color $c-red
.t-hover-warn:hover
	cursor pointer
	color $c-main
/* transform */
.t-lowecase
	text-transform lowercase
.t-uppercase
	text-transform uppercase
.t-underline
	text-decoration underline
.t-capital::first-letter
	text-transform uppercase