.truncate
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
.truncate-text
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
.truncate-text.truncate-text--142
	width: 142px
.truncate-text.truncate-text--242
	width: 242px
.truncate-text.truncate-text--300
	max-width: 375px
	@media all and (min-width: 768px)
		max-width: 336px
.truncate-text.truncate-text--149
	max-width: 145px
// .truncate-text.truncate-text--170
// 	width: 160px
// @media all and (min-width: 360px)
// 	.truncate-text.truncate-text--170
// 		width: 170px
// .truncate--lvl3
// 	-webkit-line-clamp: 3
// @media all and (min-width: 360px)
// 	.truncate-text
// 		width: 250px
// @media all and (min-width: 768px)
// 	.truncate-text
// 		width: 300px
