<template>
  <ul class="c-listCandidates t-left">
    <li class="c-listCandidates__item flex pointer" v-for="(item, idx) in items" :key="idx">
<!--       <figure class="c-listCandidates__avatar mr-2">
        <img src="" :alt="'imagen_' + item.name +'_'+ item.last_name">
      </figure> -->
      <div>
        <router-link class="t-underline" :to="'/'+item.id">
          <span class="t-title t-bold">
            {{ item.name }} {{ item.last_name }}
          </span>
        </router-link>
        <p class="t-secondary">
          <span class="mr-2">Teléfono</span>
          <span>
            {{ item.phone | phone}}
          </span>
        </p>
        <!-- <p class="t-secondary">
          <span class="mr-2">Dirección</span>
          <span>
            {{ item.address }}
          </span>
        </p> -->
        <p class="t-secondary">
          <span class="mr-2">referencias laborales</span>
          <span>
            {{ item.laboral_references.length }}
          </span>
        </p>
      </div>
    </li>
    <p class="t-light t-secondary t-gray t-center" v-if="!items.length">No tiene una lista de candidatos</p>
  </ul>
</template>
<script>
export default {
  components: {
  },
  filters: {
    phone (value) {
      if (value) {
        if (value.length > 12) return value
        switch (value.length) {
          case 12:
            return '+' + value.substr(0, 2) + ' ' + value.substr(3, 3) + ' ' + value.substr(6, 3) + ' ' + value.substr(9, 3)
          case 9:
            return value.substr(0, 3) + ' ' + value.substr(3, 3) + ' ' + value.substr(6, 3)
          case 7:
            return value.substr(0, 3) + ' ' + value.substr(3, 4)
          default:
            return value
        }
      } else {
        return value
      }
    }
  },
  mixins: [],
  props: {
    items: {
      required: true,
      type: Array,
      default: () => ([])
    }
  },
  middleware: [],
  data: () => ({
  }),
  computed: {
  },
  mounted () {
  },
  methods: {
  }
}
</script>
<style lang="stylus" scoped>
.c-listCandidates
  max-width 740px
  margin-right auto
  margin-left auto
.c-listCandidates__item
  margin-bottom 10px
  border 1px solid #D6E0E8
  border-radius 3px
  padding 10px
.t-underline:hover
  color darken(#D6E0E8, 50)
  // &:hover
  //   background-color lighten(#D6E0E8, 5)
.c-listCandidates__avatar
  width 80px
</style>
