<template>
  <transition name="modal-fade">
    <div class="c-modal__backdrop flex justify-center align-center">
      <div class="c-modal c-card px-flex pt-2 pb-2" :class="{ 'c-card--375': !fullwidth, 'c-modal--minheight': minheight }" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <div class="c-modal__close-wrapper t-right">
          <button class="c-modal__close" @click="close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <header class="c-modal-header">
          <slot name="header">This is the default tile!</slot>
        </header>
        <section class="c-modal-body">
          <slot name="body">I&apos;m the default body!</slot>
        </section>
        <footer class="c-modal-footer">
          <slot name="footer">I&apos;m the default footer!</slot>
        </footer>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  components: {
  },
  filters: {
  },
  mixins: [],
  props: {
    fullwidth: {
      type: Boolean,
      default: false
    },
    minheight: {
      type: Boolean,
      default: false
    }
  },
  middleware: [],
  data: () => ({
  }),
  computed: {
  },
  mounted () {
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>
<style lang="stylus">
.c-modal__backdrop
  position fixed
  z-index 10
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(#283148, .84)
.c-modal
  border-radius 3px
  max-width 375px
  background-color #fff
  width 100%
  position relative
</style>
