<template>
<header class="c-header p-2 flex">
  <ul class="c-header__breadcrumbs flex box grow">
    <li class="breadcrumb-item" v-for="(crumb, i) in breadcrumb" :key="i">
      <router-link
        class="t-title t-underline"
        v-if="i !== breadcrumb.length - 1"
        :to="{ path: crumb.url }"
        :tag="i != breadcrumb.length - 1 ? 'a' : 'span'"
        > {{ crumb.title }} </router-link>
      <span class="t-title" v-else>
        {{ crumb.title }}
      </span>
      <span class="mr-1" v-if="i !== breadcrumb.length - 1"> ></span>
    </li>
  </ul>
  <div class="c-title__actions">
    <slot name="actions"/>
  </div>
</header>
</template>
<script>
export default {
  components: {
  },
  filters: {
  },
  mixins: [],
  props: {
    actions: {
      type: Boolean,
      default: false
    },
    breadcrumb: {
      type: Array,
      default: () => ([])
    }
  },
  middleware: [],
  data: () => ({
  }),
  computed: {
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
  },
  methods: {
  }
}
</script>
<style lang="stylus">
.c-header
  max-width 740px
  margin-left auto
  margin-right auto
  background-color #D6E0E8
  margin-bottom 20px
.c-title__actions > *
  display flex
</style>
