<template>
<div>
  <custom-header :breadcrumb="breadcrumb">
    <div slot="actions">
      <router-link tag="button" :to="'/' + $route.params.id + '/editar'" class="flex align-center t-link">
        <i class="material-icons t-secondary">edit</i>
        <span>editar candidato</span>
      </router-link>
      <button class="flex align-center t-link" @click="deleteCandidate">
        <i class="material-icons t-secondary">delete</i>
        <span>eliminar candidato</span>
      </button>
    </div>
  </custom-header>
  <CDialog v-if="showDialogDeleteCandidate" @close="showDialogDeleteCandidate = false">
    <div class="mb-4" slot="header">
      <p class="t-title t-center">Eliminar</p>
    </div>
    <div slot="body">
      Este candidato tiene {{ candidate.laboral_references.length }} referencias laborales. Estas seguro de eliminarlo?."
    </div>
    <div class="t-right mt-4" slot="footer">
      <button class="button button--link mr-2" @click="showDialogDeleteCandidate = false"> no</button>
      <button class="button button--red" @click="performDelete"> si, eliminar</button>
    </div>
  </CDialog>
  <div class="c-profile">
    <p class="t-title px-2 mb-1 t-bold"> {{ candidate.name }} {{ candidate.last_name }} </p>
    <p class="px-2"> Direccion: {{ candidate.address }} </p>
    <p class="px-2 mb-4"> Telefono: {{ candidate.phone | phone}} </p>
    <div class="flex justify-space-between mt-4 mb-1">
      <p class="">Referencias laborales</p>
      <router-link :to="'/' + $route.params.id + '/agregar-referencia'" tag="button" class="flex align-center t-link">
        <i class="material-icons">add</i>
        <span> agregar</span>
      </router-link>
    </div>
    <ul>
      <li class="c-listLabRef" v-for="(lab, idx) in candidate.laboral_references" :key="idx">
        <p> <span class="t-bold">Empresa: </span> {{ lab.company_name }} </p>
        <p> <span class="t-bold">Contacto: </span> {{ lab.contact_name }} </p>
        <p> <span class="t-bold">Desde: </span> {{ lab.start_at }} </p>
        <p> <span class="t-bold">Hasta: </span> {{ lab.leave_at }} </p>
        <div class="c-listLabRef__actions flex column">
          <button class="t-link flex align-center" type="button" @click="deleteRef(lab.id)"><i class="material-icons t-secondary">delete</i> <span>eliminar</span></button>
          <router-link class="t-link flex align-center" tag="button" :to="'/' + $route.params.id + '/referencia/' + lab.id">
            <i class="material-icons t-secondary">edit</i> <span>editar</span>
          </router-link>
        </div>
      </li>
    </ul>
  </div>
</div>
</template>
<script>
import CustomHeader from '@/components/layout/Header'
import CDialog from '@/components/layout/Dialog'
import { mapActions } from 'vuex'
export default {
  components: {
    CustomHeader,
    CDialog
  },
  filters: {
    phone (value) {
      if (value) {
        if (value.length > 12) return value
        switch (value.length) {
          case 12:
            return '+' + value.substr(0, 2) + ' ' + value.substr(3, 3) + ' ' + value.substr(6, 3) + ' ' + value.substr(9, 3)
          case 9:
            return value.substr(0, 3) + ' ' + value.substr(3, 3) + ' ' + value.substr(6, 3)
          case 7:
            return value.substr(0, 3) + ' ' + value.substr(3, 4)
          default:
            return value
        }
      } else {
        return value
      }
    }
  },
  mixins: [],
  props: {
  },
  middleware: [],
  data: () => ({
    L_candidate: true,
    candidate: {},
    showDialogDeleteCandidate: false,
    breadcrumb: [{
      title: 'Candidatos',
      url: '/'
    }]
  }),
  computed: {
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
    this.__init__()
  },
  methods: {
    ...mapActions(['GETCANDIDATE', 'DELCANDIDATE', 'DELREF']),
    __init__ () {
      this.GETCANDIDATE(this.$route.params.id)
        .then((response) => {
          this.candidate = response
          this.L_candidate = false
          this.breadcrumb.push({ title: `${response.name} ${response.last_name}` })
        })
        .catch((error) => {
          console.log(error)
          this.$router.push('/')
        })
    },
    deleteCandidate () {
      if (this.candidate.laboral_references.length > 0) {
        this.showDialogDeleteCandidate = true
      } else {
        this.performDelete()
      }
    },
    performDelete () {
      this.DELCANDIDATE(this.$route.params.id)
        .then((response) => {
          if (response) {
            this.__init__()
          }
        })
    },
    deleteRef (ref) {
      this.DELREF({ id: this.$route.params.id, ref })
        .then((response) => {
          if (response) {
            this.__init__()
          }
        })
    }
  }
}
</script>
<style lang="stylus">
.c-profile
  max-width 740px
  margin-right auto
  margin-left auto
.c-listLabRef
  position relative
  margin-bottom 10px
  border 1px solid #D6E0E8
  border-radius 3px
  padding 10px
.c-listLabRef__actions
  position absolute
  top 10px
  right 10px
</style>
