<template>
<div class="container--740">
  <custom-header :breadcrumb="breadcrumb">
  </custom-header>
  <form class=" px-2">
    <c-input v-validate="'required'" name="company" v-model="form.company_name" label="Compañia" :errorMessage="errors.first('company')" hasLabel  block/>
    <c-input v-validate="'required'" name="contact" v-model="form.contact_name" label="Contacto" :errorMessage="errors.first('contact') " hasLabel block/>
    <div class="flex mb-2">
      <div class="box grow">
        <label class="t-icon" for="">Inicio</label>
        <p>{{ form.start_at | format('D') }}</p>
      </div>
      <div class="box grow">
        <label class="t-icon" for="">fin</label>
        <p>{{ form.leave_at | format('D') }}</p>
      </div>
    </div>
    <div class="flex cont-scroll">
      <div class="box grow">
        <CCalendar v-model="form.start_at"/>
      </div>
      <div class="box grow">
        <CCalendar v-model="form.leave_at"/>
      </div>
    </div>
    <div class="t-right mt-4 px-2">
      <router-link tag="button" :to="onBack" class="button button--link mr-4" type="button">Cancelar y volver</router-link>
      <button class="button button--green" type="button" @click.prevent="FI_onSubmit">Guardar</button>
    </div>
  </form>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import CInput from '@/components/commons/c-input'
import CustomHeader from '@/components/layout/Header'
import CCalendar from '@/components/commons/c-calendar'
import form from '@/mixins/form'
import { format } from 'date-fns'

export default {
  components: {
    CInput,
    CCalendar,
    CustomHeader
  },
  filters: {
    format (val) {
      if (val) { return format(val, 'MM/dd/yyyy') }
      return ''
    }
  },
  mixins: [form],
  middleware: [],
  data: () => ({
    L_candidate: true,
    candidate: null,
    form: {
      company_name: '',
      contact_name: '',
      start_at: new Date(),
      leave_at: new Date()
    },
    breadcrumb: [{
      title: 'Candidatos',
      url: '/'
    }]
  }),
  computed: {
    onBack () {
      return '/' + this.$route.params.id
    }
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
    this.GETCANDIDATE(this.$route.params.id)
      .then((response) => {
        this.candidate = response
        this.L_candidate = false
        this.breadcrumb.push({ title: `${response.name} ${response.last_name}` }, { title: 'Agregar referencia', url: '' })
      })
  },
  methods: {
    ...mapActions(['CREATELAREF', 'GETCANDIDATE']),
    success () {
      this.CREATELAREF({
        id: this.$route.params.id,
        data: {
          company_name: this.form.company_name,
          contact_name: this.form.contact_name,
          start_at: format(this.form.start_at, 'dd/MM/Y'),
          leave_at: format(this.form.leave_at, 'dd/MM/Y')
        }
      })
        .then((response) => {
          if (response) {
            this.$router.push('/' + this.$route.params.id)
          }
        })
    }
  }
}
</script>
<style lang="stylus">
</style>
