<template>
<div class="container--740">
  <custom-header :breadcrumb="breadcrumb">
  </custom-header>
  <form class=" px-2">
    <c-input v-validate="'required'" name="first_name" v-model="form.name" label="Nombre" :errorMessage="errors.first('first_name')" hasLabel  block/>
    <c-input v-validate="'required'" name="last_name" v-model="form.last_name" label="Apellido" :errorMessage="errors.first('last_name') " hasLabel block/>
    <c-input v-validate="'required'" name="mobile_phone" v-model="form.phone" label="Teléfono" :errorMessage="errors.first('phone')" hasLabel  block/>
    <c-input v-validate="'required'" name="address" v-model="form.address" label="Dirección" :errorMessage="errors.first('address')" hasLabel  block/>
    <div class="t-right mt-4 px-2">
      <router-link tag="button" :to="onBack" class="button button--link mr-4" type="button">Cancelar y volver</router-link>
      <button class="button button--green" type="button" @click="FI_onSubmit">Guardar</button>
    </div>
  </form>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import CInput from '@/components/commons/c-input'
import CustomHeader from '@/components/layout/Header'
import form from '@/mixins/form'

export default {
  components: {
    CInput,
    CustomHeader
  },
  mixins: [form],
  middleware: [],
  data: () => ({
    form: {
      name: '',
      last_name: '',
      phone: '',
      address: ''
    },
    breadcrumb: [{
      title: 'Candidatos',
      url: '/'
    }]
  }),
  computed: {
    onBack () {
      return '/' + this.$route.params.id
    }
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
    this.GETCANDIDATE(this.$route.params.id)
      .then((response) => {
        this.form.name = response.name
        this.form.last_name = response.last_name
        this.form.phone = response.phone
        this.form.address = response.address
        this.breadcrumb.push({
          title: `${response.name} ${response.last_name}`,
          url: `/${response.id}`
        }, {
          title: 'Editar',
          url: '/'
        })
      })
  },
  methods: {
    ...mapActions(['GETCANDIDATE', 'UPDATECANDIDATE']),
    success () {
      console.log('success')
      this.UPDATECANDIDATE({ id: this.$route.params.id, data: this.form })
        .then((response) => {
          if (response) {
            this.$router.push('/' + this.$route.params.id)
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    failure () {
      console.log('failure')
    }
  }
}
</script>
<style lang="stylus">
</style>
