<template>
  <div class="home">
    <h1 class="t-title t-normal"></h1>
    <custom-header :breadcrumb="breadcrumb">
    </custom-header>
    <ListCandidates :items="candidates" />
    <div class="mb-4 container--740">
      <p>Ejercicio 2</p>
      <router-link class="button button--green" tag="button" to="/palindromic">
        palindromic number
      </router-link>
    </div>
    <div class="mb-4 container--740">
      <p>Ejercicio 2</p>
      <router-link class="button button--green" tag="button" to="/pythagorean">
        Pythagorean triplet
      </router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapActions } from 'vuex'
import CustomHeader from '@/components/layout/Header'
const ListCandidates = () => import('@/components/lists/Candidates')

export default {
  name: 'home',
  components: {
    ListCandidates,
    CustomHeader
  },
  data: () => ({
    L_candidates: true,
    candidates: [],
    breadcrumb: [{
      title: 'Candidatos',
      url: '/'
    }]
  }),
  mounted () {
    this.__init__()
  },
  methods: {
    ...mapActions(['GETCANDITATES']),
    __init__ () {
      this.GETCANDITATES()
        .then((response) => {
          this.candidates = response
        })
    }
  }
}
</script>
