<template>
<div>
  <p>Esta pagina no fué encontrada</p>
</div>
</template>
<script>
export default {
  components: {
  },
  filters: {
  },
  mixins: [],
  props: {
  },
  middleware: [],
  data: () => ({
  }),
  computed: {
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
  },
  methods: {
  }
}
</script>
<style lang="stylus">
</style>
