<template>
<div class="container--740">
  <p class="t-title mb-4">A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.</p>
  <!-- <p>Get palindromic number of 3 digits</p> -->
  <CInput name="number" v-validate="'required|numeric|min:1'" v-model="form.digits" :errorMessage="errors.first('number')"/>
  <button class="button button--link" @click="FI_onSubmit">Get palindromic</button>
  <p v-show="found">calculando</p>
  <template v-if="showResult">
    <p>con {{ form.digits }} el maximo polindromo es <span class="t-bold">{{ form.palindromic }}</span></p>
  </template>
</div>
</template>
<script>
import form from '@/mixins/form'
import CInput from '@/components/commons/c-input'
export default {
  components: {
    CInput
  },
  filters: {
  },
  mixins: [form],
  props: {
  },
  middleware: [],
  data: () => ({
    showResult: false,
    found: false,
    form: {
      digits: 3,
      palindromic: 0
    }
  }),
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
  },
  methods: {
    success () {
      this.found = true
      this.showResult = false
      if (this.form.digits >= 4) {
        if (!confirm('tomara bastante tiempo')) { return false }
      }
      const start = (10 ** parseInt(this.form.digits - 1))
      const end = ((10 ** (parseInt(this.form.digits - 1) + 1) - 1))
      let max = 0
      console.time()
      for (let i = start; i <= end; i++) {
        for (let j = start; j <= end; j++) {
          if (i >= j) { // para evitar multiplicar numeros ya canculados
            let rem = 0
            let temp = 0
            let final = 0
            var number = i * j
            temp = number
            while (number > 0) { // evaluar si es polindromo
              rem = number % 10
              number = parseInt(number / 10)
              final = final * 10 + rem
            }
            /* eslint-disable */
            if (final == temp && temp > max) { // si es mayor a otro encontrado guardarlo
              max = temp
            }
          }
        }
      }
      console.timeEnd()
      this.form.palindromic = max
      setTimeout(() => {
        this.showResult = true
        this.found = false
      }, 100)
    }
  }
}
</script>
<style lang="stylus">
</style>
