/* eslint-disable */
<template>
<div class="container--740">
    <pre>a**2 + b**2 = c**2</pre>
    <pre class="mt-4">a + b + c = 1000</pre>
  <button class="button button--green" @click="success">Get Pythagorean of 1000</button>
  <template v-if="showResult">
    <p class="mt-4">
      <span class="t-bold">{{ result[0] + '+' + result[1] + '+' + result[2] }}</span> = 1000, found in {{ time }} sec
    </p>
  </template>
</div>
</template>
<script>
export default {
  components: {
  },
  filters: {
  },
  mixins: [],
  props: {
  },
  middleware: [],
  data: () => ({
    showResult: false,
    time: 0,
    result: []
  }),
  computed: {
  },
  // async fetch ({ store, params }) {
  // await store.dispatch('user/GETMYJOBSPROVIDER')
  // },
  mounted () {
  },
  methods: {
    getNumber () {
      let start = new Date().getTime()
      for (let i = 1000; i >= 2; i--) {
        for (let j = 1000; j >= 2; j--) {
          for (let k = 1000; k >= 2; k--) {
            if (i < j && j < k) {
              if ((i ** 2 + j ** 2 === k ** 2) && (i + j + k === 1000)) {
                this.result = [i, j, k]
              }
            }
          }
        }
      }
      this.time = (new Date().getTime() - start) / 1000
    },
    success () {
      // avoid 1 because 1**2 = 1
      this.showResult = false
      setTimeout(() => {
        this.getNumber()
        this.showResult = true
      }, 0)
    }
  }
}
</script>
<style lang="stylus">
</style>
