button.button
	border 1px solid $c-border
	border-radius 10px
	min-width 150px
	padding 10px
	transition .4s all ease
	&:active
		transition .1s all ease
		transform scale(1.03)
button.button.button--green,
button.button.button--red
	color $c-white
button.button.button--green
	background-color $c-green
	&:hover
		background-color darken($c-green, 20)
button.button.button--red
	background-color $c-red
button.button.button--link
	background-color transparent
	