.calendar
    border 1px solid black
    border-radius 3px
    max-width 375px
    margin-right: auto;
    margin-left: auto;
.days-calendar
    width 100%
.days-calendar--spaced
    padding 10px 20px
.days-calendar__header
    display flex
    justify-content space-between
    align-items center
    button
        padding 0
        background none
.days-calendar__headings
    display flex
    justify-content space-between
    .heading
        text-align center
        width 30px
.days-calendar__weeks
    .days-calendar__week
        display flex
        justify-content space-between

    .days-calendar__day
        display flex
        justify-content space-between
        align-items center
        height 30px
        width 30px
        button
            padding 0
            display flex
            justify-content center
            align-items center
            height 100%
            width 100%
            color $c-border
            background $c-white
            border-radius 3px
    .current
        button
            color $c-black
    .today
        button
            color $c-main
    .selected
        button
            color $c-white
            background $c-main
    .disabled
        button
            color $c-border
.months-calendar
    width 100%
    min-width 320px
    max-width 375px
.months-calendar--spaced
    padding 10px 20px
.months-calendar__header
    display flex
    justify-content center
.months-calendar__container
    height 233px
    display flex
    flex-direction column
.months-calendar__months
    height 100%
    display flex
    justify-content space-between
.months-calendar__month
    width (295 / 3)px
    height 100%
    button
        background $c-white
        border-radius 3px
        padding 0 10px
        width 100%
        height 100%
.months-calendar__month:last-child
    margin-right 0