form
    padding 0
    margin 0
form.isDisabled
    position relative
    &:after
        top 0
        left 0
        position absolute
        content ''
        height 100%
        width 100%
        background-color transparent
.c-input--355
    width 355px
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    -webkit-text-fill-color: #414140
    transition background-color 5000s ease-in-out 0s
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  margim 0
input.input::placeholder
    text-align left
select,
textarea,
input:focus
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
option
    color black
// input:not([type='checkbox']):focus
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
    letter-spacing -.5px
    color: $c-gray-dark
    font-weight 300
.input__wrapper
    textarea.textarea
        height 100%
.input__wrapper.full
    max-width 100%
.input__wrapper.isPassword input
    text-security disc !important
    -webkit-text-security disc !important
    -moz-text-security disc !important
select,
textarea,
input
    border: 0
.input-container
    display flex
    justify-content space-between
    align-items flex-start
    > div,
    > .input__wrapper,
    > .v-select,
    > .select__wrapper,
    > .space-white
        max-width calc(50% - 5px)
.input-container.input-container--desk
    display block
    > *
        max-width unset
@media all and (min-width: 768px)
    .input-container,
    .input__wrapper,
    .select__wrapper
        max-width 740px
    .input-container.input-container--desk
        display flex
        max-width 740px
        > *
            max-width calc(50% - 5px)
            width 100%
        .input-container > *
            max-width calc(50% - 5px)
        .input-container.input-container--half > *
            max-width calc(100% - 10px)
    .input-container.input-container--desk.input-container--with-half
        justify-content flex-start
    .input-container.input-container--half
        max-width 182px
.select__wrapper.isFlex
    max-width 100%
.input__wrapper.isTextField
    max-width 100%
    display block
.input__label
    position relative
    line-height 12px
    padding-left 10px
    padding-bottom 3px
    font-size 12px
.input__max-legth
.input__icon
    position relative
    z-index 1
    .input__textmax
    .icon
        position absolute
    .input__textmax
        bottom 0
        right 5px
    .icon
        right 10px
        bottom 10px
input.input,
textarea.textarea,
.input__wrapper,
.select__wrapper
    border-radius 3px
.select__wrapper,
.input__wrapper
    display inline-block
    border 1px solid $c-border
@media all and (min-width: 768px)
    .select__wrapper:hover
    .input__wrapper:hover
        transition .3s all ease-in-out
        box-shadow 0 0 5px rgba($c-main, 1)
        border 1px solid rgba($c-main, 1)
.input__wrapper.isFocused
    transition .3s all ease-in-out
    box-shadow 0 0 5px rgba($c-main, 1)
    border 1px solid rgba($c-main, 1)
    // border-color $c-main
.input__wrapper.noEmpty
    color $c-black
.input__w-error
    position relative
    &.isBlock
        .input__error
            position relative
            top unset
            bottom 7px
            display block
.input__error
    white-space nowrap
    position absolute
    top calc(100% + 4px)
    left 10px
    font-size 10px
    line-height 10px
    color $c-red
    font-weight 700
    z-index 0
.select__wrapper.hasError,
.input__wrapper.hasError
    transition .2s all ease-in
    margin-bottom 15px
    border-color $c-red
    .input__error
        display block
.input__wrapper.isBlock
    display block
textarea.textarea,
input.input
    z-index 1
    width 100%
    border none
    color inherit
    padding 5px 10px
    &:focus
        outline none
.input__wrapper.isDisabled:hover
    transition none
    box-shadow none
    border 1px solid $c-border
input.input:disabled, textarea.textarea:disabled
    color: $c-gray-dark;
    background: $c-gray-light;
textarea.textarea
    display: block;