<template>
<div class="calendar" :class="{ 'c-card': !inlineMode }">
    <div class="days-calendar" v-if="daysCalendarMode" :class="{ 'days-calendar--spaced': !inlineMode }">
        <div class="days-calendar__header"><button class="prev t-orange" @click.prevent="previousMonth">
          <i class="material-icons">chevron_left</i>
        </button>
        <button class="month-name t-title t-blue" @click="swipeCalendarMode"><span>{{ currentMonthLabel }} {{ currentYear }}</span></button>
            <button class="next t-orange" @click.prevent="nextMonth">
                <i class="material-icons">chevron_right</i>
            </button>
        </div>
        <div class="days-calendar__headings mt-1">
            <div class="heading t-secondary t-blue" v-for="(dayLabel, idx) in dayLabels" :key="idx">{{ dayLabel }}</div>
        </div>
        <div class="days-calendar__weeks">
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(0,7)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(7,14)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(14,21)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(21,28)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(28,35)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
            <div class="days-calendar__week mt-1">
                <div class="days-calendar__day" v-for="(day, index) in daysArray.slice(35,42)" :class="dayClassObj(day)" :key="index"><button :disabled="disableDay(day.date)" @click.prevent="setSelectedDate(day)"><span>{{ day.date | formatDateToDay }}</span></button></div>
            </div>
        </div>
    </div>
    <div class="months-calendar" v-else :class="{ 'months-calendar--spaced': !inlineMode }">
        <div class="months-calendar__header"><span class="t-title t-blue">{{ selectMonthTitle }}</span></div>
        <div class="months-calendar__container">
            <div class="months-calendar__months mt-4">
                <div class="months-calendar__month" v-for="(month, index) in monthsArray.slice(0,3)" :key="index"><button @click.prevent="setSelectedMonth(month)"><span>{{ month.name }}</span></button></div>
            </div>
            <div class="months-calendar__months mt-4">
                <div class="months-calendar__month" v-for="(month, index) in monthsArray.slice(3,6)" :key="index"><button @click.prevent="setSelectedMonth(month)"><span>{{ month.name }}</span></button></div>
            </div>
            <div class="months-calendar__months mt-4">
                <div class="months-calendar__month" v-for="(month, index) in monthsArray.slice(6,9)" :key="index"><button @click.prevent="setSelectedMonth(month)"><span>{{ month.name }}</span></button></div>
            </div>
            <div class="months-calendar__months mt-4">
                <div class="months-calendar__month" v-for="(month, index) in monthsArray.slice(9,12)" :key="index"><button @click.prevent="setSelectedMonth(month)"><span>{{ month.name }}</span></button></div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import * as dateFns from 'date-fns'
const DAY_LABELS = ['LU', 'MA', 'MI', 'JU', 'VI', 'SA', 'DO']
const MONTH_LABELS = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
export default {
  filters: {
    formatDateToDay (val) {
      return dateFns.format(val, 'd')
    }
  },
  props: {
    value: {
      required: false,
      type: Date,
      default: function () { return new Date() }
    },
    inlineMode: {
      required: false,
      type: Boolean,
      default: false
    },
    selectMonthTitle: {
      required: false,
      type: String,
      default: 'Seleccionar mes'
    },
    monthCalendarMode: {
      required: false,
      type: Boolean,
      default: false
    },
    disableBefore: {
      required: false,
      type: Boolean,
      default: false
    },
    disableAfter: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    today: null,
    selectedDate: null,
    currDateCursor: null,
    dayLabels: null,
    daysCalendarMode: true
  }),
  computed: {
    currentMonth () {
      return this.currDateCursor.getMonth()
    },
    currentYear () {
      return this.currDateCursor.getFullYear()
    },
    currentMonthLabel () {
      return MONTH_LABELS[this.currentMonth]
    },
    daysArray () {
      const date = this.currDateCursor
      const startOfMonth = dateFns.startOfMonth(date)
      const endOfMonth = dateFns.endOfMonth(date)
      const days = dateFns.eachDayOfInterval({ start: startOfMonth, end: endOfMonth }).map(day => ({
        date: day,
        isCurrentMonth: dateFns.isSameMonth(new Date(this.currentYear, this.currentMonth), day),
        isToday: dateFns.isToday(day),
        isSelected: dateFns.isSameDay(this.selectedDate, day)
      }))

      let previousMonthCursor = dateFns.lastDayOfMonth(dateFns.addMonths(date, -1))
      const begIndex = dateFns.getDay(days[0].date)
      for (let i = begIndex - 1; i > 0; i--) {
        days.unshift({
          date: previousMonthCursor,
          isCurrentMonth: false,
          isToday: dateFns.isToday(previousMonthCursor),
          isSelected: dateFns.isSameDay(this.selectedDate, previousMonthCursor)
        })
        previousMonthCursor = dateFns.addDays(previousMonthCursor, -1)
      }
      const daysNeededAtEnd = (days.length % 7 > 0) ? (7 - (days.length % 7)) : 0
      let nextMonthCursor = dateFns.addMonths(date, 1)
      nextMonthCursor = dateFns.setDate(nextMonthCursor, 1)
      for (let x = 1; x <= daysNeededAtEnd + 7; x++) {
        days.push({
          date: nextMonthCursor,
          isCurrentMonth: false,
          isToday: dateFns.isToday(nextMonthCursor),
          isSelected: dateFns.isSameDay(this.selectedDate, nextMonthCursor)
        })
        nextMonthCursor = dateFns.addDays(nextMonthCursor, 1)
      }
      return days
    },
    monthsArray () {
      const months = []
      MONTH_LABELS.map((month, index) => {
        months.push({
          name: month,
          index: index
        })
      })
      return months
    }
  },
  watch: {
    value () {
      this.selectedDate = this.value
      this.currDateCursor = this.value
    }
  },
  created () {
    this.dayLabels = DAY_LABELS.slice()
    this.today = new Date()
    this.selectedDate = this.today
    this.currDateCursor = this.today
  },
  mounted () {
    if (this.monthCalendarMode) {
      this.daysCalendarMode = false
    }
    this.currDateCursor = this.value
    this.selectedDate = this.value
  },
  methods: {
    dayClassObj (day) {
      return {
        'today': day.isToday,
        'current': day.isCurrentMonth,
        'selected': day.isSelected,
        'disabled': this.disableDay(day.date)
      }
    },
    swipeCalendarMode () {
      this.daysCalendarMode = !this.daysCalendarMode
    },
    nextMonth () {
      this.currDateCursor = dateFns.addMonths(this.currDateCursor, 1)
    },
    previousMonth () {
      this.currDateCursor = dateFns.addMonths(this.currDateCursor, -1)
    },
    setSelectedDate (day) {
      this.selectedDate = day.date
      this.$emit('input', this.selectedDate)
    },
    setSelectedMonth (month) {
      this.currDateCursor = dateFns.setMonth(this.currDateCursor, month.index)
      this.swipeCalendarMode()
    },
    disableDay (day) {
      if (this.disableAfter) {
        if (dateFns.isToday(day)) return false
        return (dateFns.isAfter(day, new Date()))
      } else if (this.disableBefore) {
        if (dateFns.isToday(day)) return false
        return (dateFns.isBefore(day, new Date()))
      }
    }
  }
}
</script>
