<template>
<div>
    <p class="input__label t-icon-m no-select t-light" v-if="hasLabel">{{ label }}</p>
    <div class="input__wrapper" :class="className">
      <input class="input t-regular" autocapitalize="none" :type="type" ref="input" :placeholder="label" :value="value" autocomplete="off" :name="name" @focus="onFocus($event.target)" @click.once="onClick($event.target)" @blur="onBlur" :disabled="disabled" @input="updateSelf($event.target.value)" :readonly="password &amp;&amp; !isIos" :class="{ 't-right': type === 'number' }" />
        <div class="input__max-legth" v-if="maxlegth">
          <span class="t-icon t-orange input__textmax">{{ value.length + '/' + maxlegth }}</span>
        </div>
        <transition name="to-bot">
            <div class="input__w-error" v-show="errorMessage"><span class="input__error">{{ errorMessage }}</span></div>
        </transition>
    </div>
</div>
</template>
<script>
export default {
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    marginBotton: {
      type: Boolean,
      default: true
    },
    maxlegth: {
      type: Number,
      default: null
    },
    name: {
      type: String,
      default: ''
    },
    reverse: {
      type: Boolean,
      default: false
    },
    hasLabel: {
      type: Boolean,
      default: false
    },
    value: {
      type: [ String, Number ],
      default: null
    },
    label: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'text'
    },
    min: {
      type: String,
      default: 'text'
    },
    max: {
      type: String,
      default: 'text'
    },
    step: {
      type: String,
      default: 'text'
    },
    password: {
      type: Boolean,
      default: false
    },
    textarea: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: null
    },
    rows: {
      type: Number,
      default: 4
    },
    block: Boolean,
    disabled: Boolean
  },
  data: () => ({
    focus: false,
    isIos: false
  }),
  computed: {
    inputValue: {
      get () {
        return this.value
      }
    },
    className () {
      return {
        isTextField: this.textarea,
        noEmpty: !!this.value,
        hasError: this.errorMessage,
        isFocused: this.focus,
        isBlock: this.block,
        isPassword: this.password,
        isReverse: this.reverse,
        isDisabled: this.disabled,
        hasLabel: this.hasLabel,
        'mb-2': this.marginBotton
      }
    }
  },
  mounted () {
    this.isIos = window.iOS
  },
  methods: {
    onClick (target) {
      if (this.password) {
        target.removeAttribute('readonly')
        target.focus()
      }
    },
    onFocus (target) {
      this.focus = true
      this.$emit('search:focus')
    },
    onBlur () {
      this.focus = false
      this.$emit('search:blur')
    },
    updateSelf (val) {
      this.$emit('input', val)
    }
  }
}
</script>
<style lang="stylus">
</style>
